* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.btn_form {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: #666;
  color: #fff;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

.btn_section {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: #666;
  color: #fff;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

.btn {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: #666;
  color: #fff;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

#nav-color {
  background-color: #489294;
}
#nav-color .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#nav-color .container img {
  width: 100px;
  height: 100px;
}
#nav-color .container li {
  list-style-type: none;
  padding: 5px;
}

@media only screen and (min-width: 600px) {
  #logo_img {
    width: 100px;
    height: 100px;
  }
  .nav-list {
    display: flex;
    flex-direction: row;
  }
  .nav-enlace {
    margin: 0 1.2rem;
  }
  .nav-enlace:hover {
    background-color: #E0B69B;
    color: #fff;
    padding: 1rem;
  }
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url(../assets/img_fondo_home_mobile.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.home #tittle {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  color: #333;
  text-align: center;
  text-shadow: 1px 1px 5px #fff;
}
.home .btn a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

@media only screen and (min-width: 600px) {
  .home {
    background-image: url(../assets/img_fondo_home_mobile.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
  }
  #inicio {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1rem;
  }
  #inicio #tittle {
    font-size: 70px;
    color: #000;
    padding-top: 0;
    text-shadow: none;
  }
  #inicio .btn {
    font-size: larger;
  }
}
.main_galeria {
  background-color: #f3f3f3;
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.main_galeria #tittle_galeria {
  text-align: center;
  color: #333;
  border-top: 0.1rem solid #E0B69B;
  border-bottom: 0.1rem solid #E0B69B;
  margin: 1rem;
  padding: 0.5rem;
  text-transform: uppercase;
}
.main_galeria .grid-section {
  display: grid;
  grid-template-columns: 60% 25%;
  grid-template-rows: 35% 10% 35%;
  grid-template-areas: "img titulo" "img parrafo" "img boton";
  justify-content: space-evenly;
  align-content: space-around;
  justify-items: center;
  align-items: center;
}
.main_galeria .section_gallery {
  background-color: rgba(72, 146, 148, 0.75);
  height: 30%;
  width: 95%;
  opacity: 0.7;
}
.main_galeria .section_gallery .img-section {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-area: img;
  z-index: 999;
}
.main_galeria .section_gallery .name_seccion {
  grid-area: titulo;
  font-size: 15px;
}
.main_galeria .section_gallery .parrafo_section {
  grid-area: parrafo;
  font-size: 12px;
}
.main_galeria .section_gallery .btn_section {
  grid-area: boton;
}
.main_galeria .section_gallery .btn_section a {
  text-decoration: none;
  color: #fff;
}

@media only screen and (min-width: 600px) {
  .main_galeria #tittle_galeria {
    font-size: 40px;
    font-weight: lighter;
  }
  .main_galeria .section_gallery .name_seccion {
    font-size: 1.5rem;
  }
  .main_galeria .section_gallery .parrafo_section {
    font-size: 20px;
  }
  .main_galeria .section_gallery .btn_section {
    font-size: 20px;
    padding: 0.5rem;
    color: #000;
    border: none;
  }
}
.main_servicios {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #f3f3f3;
}
.main_servicios #tittle_servicios {
  text-align: center;
  color: #333;
  border-top: 0.1rem solid #E0B69B;
  border-bottom: 0.1rem solid #E0B69B;
  margin: 1rem;
  padding: 0.5rem;
  text-transform: uppercase;
}
.main_servicios .services {
  background-color: #666;
  height: 1200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.main_servicios .services .card {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 20px;
  background: #666;
}
.main_servicios .services .card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 1s;
}
.main_servicios .services .card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}
.main_servicios .services .card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main_servicios .services .card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 35, 54);
  padding: 15px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;
}
.main_servicios .services .card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}
.main_servicios .services .card .back p {
  letter-spacing: 1px;
}
.main_servicios .services .card .back .link {
  border-top: solid 1px #fff;
  height: 50px;
  line-height: 50px;
}
.main_servicios .services .card .back .link a {
  color: #fff;
}
.main_servicios .services .card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}
.main_servicios .services .card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

@media only screen and (min-width: 680px) {
  .main_servicios #tittle_servicios {
    font-weight: lighter;
  }
  .main_servicios .services {
    height: 800px;
  }
}
@media only screen and (min-width: 1020px) {
  .main_servicios #tittle_servicios {
    font-weight: lighter;
  }
  .main_servicios .services {
    height: 100vh;
  }
}
.main_ubicacion {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_ubicacion .tittle_ubicacion {
  text-align: center;
  color: #333;
  border-top: 0.1rem solid #E0B69B;
  border-bottom: 0.1rem solid #E0B69B;
  margin: 1rem;
  padding: 0.5rem;
}
.main_ubicacion .mapa {
  width: 100%;
  height: 100vh;
  padding: 0.5rem;
}

@media only screen and (min-width: 600px) {
  .tittle_ubicacion {
    font-weight: lighter;
  }
}
.main_contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_contacto .tittle_contacto {
  text-align: center;
  color: #333;
  border-top: 0.1rem solid #E0B69B;
  border-bottom: 0.1rem solid #E0B69B;
  margin: 1rem;
  padding: 0.5rem;
}
.main_contacto .formulario {
  text-align: center;
}
.main_contacto .formulario input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #666;
  font-family: "Raleway", sans-serif;
}
.main_contacto .formulario #comentario {
  color: #666;
  font-family: "Raleway", sans-serif;
  margin-bottom: 1rem;
}
.main_contacto .formulario .btn_form a {
  text-decoration: none;
  color: #fff;
}

@media only screen and (min-width: 600px) {
  .main_contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .main_contacto .tittle_contacto {
    font-weight: lighter;
  }
  .main_contacto .box-shadow-form {
    box-shadow: 0 5px 10px #000;
  }
  .main_contacto .formulario {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .main_contacto .formulario .btn_form:hover {
    background-color: #666;
  }
}
.footer {
  background-color: #9BDFEE;
  font-size: small;
  text-align: center;
  grid-area: footer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  .footer {
    padding: 1rem;
    font-size: 20px;
  }
  .footer p {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
