:root {
  --first-color: #E0B69B; /* Ocupa un 60% de la página */
  --opacity-first-color: rgba(224, 182, 155, 0.75); 
  --second-color: #489294; /* Ocupa un 30% de la página */
  --opacity-second-color: rgba(72, 146, 148, 0.75);
  --third-color: #9BDFEE; /* Ocupa un 10% de la página */
  --opacity-third-color: rgba(155, 223, 238, 0.75);
  --white-color: #fff;
  --opacity-white-color: rgba(255, 255, 255, 0.2);
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --gray-dark-color: #666;
  --black-color: #000;
  --opacity-black-color: rgba(0, 0, 0, 0.5);
  --link-color: #509ee3;
  --title-color: #333;
  --text-color: #222;
  --card-color-back: rgb(3, 35, 54);
  --font: "Raleway", sans-serif;
}

/*! ***** Reset ***** */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

/* *Grilla body* */

  #grilla-contenedora {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px 1fr 40px;
    grid-template-areas: 'header'
                          'main'
                          'footer';
  }

/* ***** HEADER > NAV ***** */

.container {
  display: flex;
  flex-direction: row ;
  justify-content: space-around;
  align-items: center;
}

.header {
  background-color: var(--second-color);
  grid-area: header;
}

li {
  list-style-type: none;
  padding: 5px;
}

.container-fluid > a > img {
  width: 100px;
  height: 100px;
}

#nav-color {
  background-color: var(--second-color);
}

.nav-enlace {
  text-decoration: none;
  color: var(--first-color);
  font-weight: bold;
  font-size: 1rem;
  font-family: var(--font);
}


@media only screen and (min-width: 600px) {

  #logo_img {
    width: 100px;
    height: 100px;
  }

  .nav-list {
      display: flex;
      flex-direction: row;
  }
  
  .nav-enlace {
      margin: 0 1.2rem;
  }

  .nav-enlace:hover {
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 1rem;
  }
}

/* ***** MAIN HOME ***** */
.home {
  background-image: url(../assets/img_fondo_home_mobile.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

#tittle {
  font-family: var(--font);
  font-weight: lighter;
  font-size: 2rem;
  color: var(--title-color);
  padding-top: 300px;
}

.btn > a {
  color: var(--white-color);
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

#inicio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (min-width: 600px) {

  .btn {
    font-size: larger;
  }

  .home {
    background-image: url(../assets/img_fondo_home.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
  }

  #inicio {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1rem;
  }

  #tittle {
    font-size: 60px;
    color: var(--black-color);
    padding-top: 0;
  }
  
}

/* ***** MAIN GALLERY ***** */

.btn_section {
  grid-area: boton;
  font-size: 16px;
  padding: 0.25rem;
  background-color: var(--opacity-white-color);
  border: none;
}

.grid-section {
  display: grid;
  grid-template-columns: 60% 25%;
  grid-template-rows: 35% 10% 35%;
  grid-template-areas:  'img titulo'
                        'img parrafo'
                        'img boton';

  justify-content: space-evenly;
  align-content: space-around;

  justify-items: center;
  align-items: center;
}

.img-section {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-area: img;
  z-index: 999;
}

.main_galeria {
background-color: var(--gray-light-color);
grid-area: main;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
}

.name_seccion {
  grid-area: titulo;
  font-size: 15px;
}

.parrafo_section {
  grid-area: parrafo;
  font-size: 12px;
}

.section_gallery {
  background-color: var(--opacity-second-color);
  height: 30%;
  width: 95%;
  opacity: 0.7;
}

#tittle_galeria {
  color: var(--title-color);
  border-top: 2px solid var(--first-color);
  border-bottom: 2px solid var(--first-color);
  font-weight: lighter;
}

@media only screen and (min-width: 600px) {
  
  .btn_section {
    font-size: 20px;
    padding: 0.5rem;
    color: var(--black-color);
    border: none;
  }

  .name_seccion {
    font-size: 1.5rem;
  }

  .parrafo_section {
    font-size: 20px;
  }

  #tittle_galeria {
    font-size: 40px;
  }
  
}

/* ***** MAIN SERVICES ***** */

.card {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 20px;
  background: var(--gray-dark-color);
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: var(--card-color-back);
  padding: 15px;
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px var(--black-color);
}

.card .back .link {
  border-top: solid 1px var(--white-color);
  height: 50px;
  line-height: 50px;
}

.card .back .link a {
  color: var(--white-color);
}

.card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.card .back p {
  letter-spacing: 1px;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 1s;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px var(--black-color);
}

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover .back{
  transform: perspective(600px) rotateY(360deg);
}

.card:hover .front{
  transform: perspective(600px) rotateY(180deg);
}

.main_servicios {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--gray-light-color);
}

.services {
  background-color: var(--gray-dark-color);
  height: 1200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#tittle_servicios {
  color: var(--title-color);
  border-top: 2px solid var(--first-color);
  border-bottom: 2px solid var(--first-color);
  font-weight: lighter;
  margin: 2rem;
}

@media only screen and (min-width: 680px) { 
  .services {
    height: 800px;
  }
}

@media only screen and (min-width: 1020px) { 
  .services {
    height: 100vh;
  }
}


/* ***** MAIN LOCATION ***** */

.main_ubicacion {
  background-color: var(--gray-light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mapa {
  width: 100%;
  height: 100vh;
  padding: 0.5rem;
}

.tittle_ubicacion {
  color: var(--title-color);
  border-top: 2px solid var(--first-color);
  border-bottom: 2px solid var(--first-color);
  font-weight: lighter;
  margin: 2rem;
  text-align: center;
}

@media only screen and (min-width: 600px) {

}


/* ***** MAIN CONTACT***** */

.btn_form {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: var(--first-color);
  font-weight: bold;
  border: none;
}

.btn_form a {
  text-decoration: none;
  color: var(--white-color);
}

#comentario {
  color: var(--gray-dark-color);
  font-family: var(--font);
  margin-bottom: 1rem;
}

.formulario {
  text-align: center;
}

input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-top: none;
  border-left: none;
  border-right: none;
  color: var(--gray-dark-color);
  font-family: var(--font);
}

.main_contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tittle_contacto {
  text-align: center;
  color: var(--title-color);
  border-top: 0.1rem solid var(--first-color);
  border-bottom: 0.1rem solid var(--first-color);
  margin: 1rem;
  padding: 0.5rem;
}

@media only screen and (min-width: 600px) {
  .box-shadow-form {
    box-shadow: 0 5px 10px var(--black-color);
  }

  .btn_form:hover {
    background-color: var(--gray-dark-color);
  }

 .formulario {
  width: 80%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
 }

 .main_contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

}

/* ***** FOOTER ***** */

.footer{
  padding: 0.5rem;
  background-color: var(--third-color);
  font-size: small;
  text-align: center;
  grid-area: footer;
}

@media only screen and (min-width: 600px) {

  .footer {
    padding: 1rem;
    font-size: 20px;
  }

  .footer p {
    text-align: center;
  }

}


