body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  .main_galeria {
    background-color: $second_color;

    .section_galeria {
      margin-top: 1rem auto;
      padding: 1rem;

      #tittle_galeria {
        text-align: center;
        color: $title_color;
        border-top: thin solid $black_color;
        border-bottom: thin solid $black_color;
        width: 250px;
        margin: 1rem auto;
        padding: 0.5rem 1rem;
        text-transform: uppercase;
      }

      .contenedor_fotos {
        padding-top: 1rem;

        img {
          width: 100%;
          margin-top: 10px;
          border-top-right-radius: 20px;
          border-bottom-left-radius: 20px;
        }
        
      }

    }

  }

}

@media only screen and (min-width: 600px) {
  .section_galeria {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-evenly;
    align-content: center;
  
    #tittle_galeria {
      grid-column: span 2;
      font-size: 40px;
      font-weight: lighter;
    }

  }
    
}

@media only screen and (min-width: 1024px) {
  .section_galeria {
    grid-template-columns: repeat(4, 22.5%);

    #tittle_galeria {
      grid-column: span 4;
    }

  }
    
}