
/* $first_color: #E0B69B;
$opacity-first-color: rgba(224, 182, 155, 0.75); 
$second-color: #489294;
$opacity-second-color: rgba(72, 146, 148, 0.75);
$third-color: #9BDFEE;
$opacity-third-color: rgba(155, 223, 238, 0.75); */
$first_color: #8EDDE4;
$second_color: #ece4b7;
$third_color: #BB8246;
$white_color: #fff;
$opacity_white_color: rgba(255, 255, 255, 0.2);
$gray_light_color: #f3f3f3;
$gray_color: #ccc;
$gray_dark_color: #666;
$black_color: #000;
$opacity_black_color: rgba(0, 0, 0, 0.5);
$link_color: #509ee3;
$title_color: #333;
$text_color: #222;
$card_color_back: rgb(3, 35, 54);
$font: "Raleway", sans-serif;



