
@mixin btn($color_fondo, $color_letra){
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 8px;
    background-color: $color_fondo;
    color: $color_letra;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    font-family: $font;
} /* Este mixin es para crear botones */

.btn_form{
    @include btn($third_color, $white_color)
}

.btn{
    @include btn($third_color, $white_color)
}



@mixin titulos(){
    text-align: center;
    color: $title_color;
    border-top: thin solid $black_color;
    border-bottom:  thin solid $black_color;
    margin: 1rem;
    padding: 0.5rem;
    text-transform: uppercase;
} /* Este mixin es para los titulos de las secciones como servicio, ubicacion,etc */

.tittle {
    @include titulos()    
}
