
.footer{
  background-color: $first_color;
  text-align: center;
 
  
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;

  p {
    padding-top: 1rem;
    a {
      color: $black_color;
    }
  }

}

@media only screen and (min-width: 600px) {
  
  .footer {
    padding: 1rem;
    font-size: 20px;
  }

}
  
  