
.footer{
  background-color: $third-color;
  font-size: small;
  text-align: center;
  grid-area: footer;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
  
@media only screen and (min-width: 600px) {
  
  .footer {
    padding: 1rem;
    font-size: 20px;
  }

  .footer p {
    text-align: center;
  }

}
  
  