
#grilla-contenedora {
  background-color: $second_color;

  .main_ubicacion {
    background-color: $second_color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .mapa {
      width: 100%;
      height: 100vh;
      padding: 0.5rem;
    }

  }

  @media only screen and (min-width: 600px) {
    .tittle_ubicacion{
      font-weight: lighter;
    }
    
  }

}